<div class="Page-Header">
    <div class="Page-Wrapper">
        <div class="Header cf">
            <div class="Header-Height Header-Logo Logo left v-center-parent bold">
                <a class="v-center" href="{{ site.baseurl }}/"><img class="v-center" src="{{ site.baseurl }}/img/leaf-title.png" srcset="{{ site.baseurl }}/img/leaf-title.png 1x, {{ site.baseurl }}/img/leaf-title@2x.png 2x" alt="Leaf"></a>
            </div>
            <div class="Header-Height Header-Nav Nav right v-center-parent">
                <ul class="Nav-List v-center">
                    <li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/">Blog</a></li><!--
                 --><li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/music">Music</a></li><!--
                 --><li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/merch">Merch</a></li><!--
                 --><li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/elite">Elite Fans</a></li><!--
                 --><li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/faq">FAQ</a></li><!--
                 --><li class="Nav-Item Nav-Item--Text js-nav-item"><a href="{{ site.baseurl }}/about">About</a></li>
               </ul>
                <div class="Nav-Dropdown-Container v-center">
                  <select class="Nav-Dropdown js-nav-dropdown">
                    <option value="{{ site.baseurl }}/">Blog</option>
                    <option value="{{ site.baseurl }}/music">Music</option>
                    <option value="{{ site.baseurl }}/merch">Merch</option>
                    <option value="{{ site.baseurl }}/elite">Elite Fans</option>
                    <option value="{{ site.baseurl }}/faq">FAQ</option>
                    <option value="{{ site.baseurl }}/about">About</option>
                  </select>
                </div>
               <ul class="Nav-List--Social v-center">
                 <li class="Nav-Item Nav-Item--Social Social js-nav-item"><a target="_blank" href="http://leaf.im/soundcloud"><img src="{{ site.baseurl }}/img/icons/sc.png" srcset="{{ site.baseurl }}/img/icons/sc.png 1x, {{ site.baseurl }}/img/icons/sc@2x.png 2x" alt="SoundCloud"></a></li><!--
                 --><li class="Nav-Item Nav-Item--Social Social js-nav-item"><a target="_blank" href="http://leaf.im/facebook"><img src="{{ site.baseurl }}/img/icons/fb.png" srcset="{{ site.baseurl }}/img/icons/fb.png 1x, {{ site.baseurl }}/img/icons/fb@2x.png 2x" alt="Facebook"></a></li><!--
                 --><li class="Nav-Item Nav-Item--Social Social js-nav-item"><a target="_blank" href="http://leaf.im/youtube"><img src="{{ site.baseurl }}/img/icons/yt.png" srcset="{{ site.baseurl }}/img/icons/yt.png 1x, {{ site.baseurl }}/img/icons/yt@2x.png 2x" alt="YouTube"></a></li><!--
                 --><li class="Nav-Item Nav-Item--Social Social js-nav-item"><a target="_blank" href="http://leaf.im/twitter"><img src="{{ site.baseurl }}/img/icons/tw.png" srcset="{{ site.baseurl }}/img/icons/tw.png 1x, {{ site.baseurl }}/img/icons/tw@2x.png 2x" alt="Twitter"></a></li><!--
                 --><li class="Nav-Item Nav-Item--Social Social js-nav-item"><a target="_blank" href="http://leaf.im/plus" class="last"><img src="{{ site.baseurl }}/img/icons/gp.png" srcset="{{ site.baseurl }}/img/icons/gp.png 1x, {{ site.baseurl }}/img/icons/gp@2x.png 2x" alt="Google Plus"></a></li><!--
                -->
                </ul>
            </div>
        </div>
    </div>
</div>

{% if page.topshelf %}
<div class="Page-TopShelf">
    <div class="Page-Wrapper">
        <div class="TopShelf TopShelf-Height"></div>
    </div>
</div>
{% endif %}
