.Header {

}

.Header-Height {
    height: 80px;
}

.Header-Logo {
    //width: 12%;
    padding-right: 2%;
}

.Header-Nav {
    //width: 88%;
    padding-left: 2%;
}

.Header-Logo {
    width: 15%;
}

.Header-Nav {
    width: 85%;
}


@media screen and (min-width: 851px) {

    .Header-Logo {
        width: 12%;
    }

    .Header-Nav {
        width: 88%;
    }
}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 650px) {
}
