.Nav {

}

.Nav-List {
    margin: 0;
    text-align: right;
    width: 67%;
    padding-right: 2%;
}

.Nav-List--Social {
    margin: 0;
    text-align: right;
    padding-left: 2%;
}

.Nav-Dropdown-Container {
    display: none;
    padding: 0 4%;
    width: 30%;
}

.Nav-Dropdown {
    width: 100%;
}

.Nav-Item {
    display: inline-block;
}

.Nav-Item a {
    display: block;
    padding: 28px 15px;
}

.Nav-Item--Social a {
    padding: 28px 5px;
}

.Nav-Item--Text {
    position: relative;
    top: 2px;
}

.Nav-Item.is-selected a {
    font-weight: bold;
    cursor: default;
    color: $text-color;
}

.Nav-Item.is-selected a:hover {
    text-decoration: none;
}

.Nav-Item:last-of-type a {
    padding-right: 0;
}

@media screen and (max-width: 850px) {
    .Nav-Dropdown-Container {
        display: table-cell;
    }

    .Nav-List {
        display: none;
    }
}

@media screen and (min-width: 450px) {
    .Nav-Dropdown-Container {
        width: 38%;
    }
}

@media screen and (min-width: 650px) {
    .Nav-Dropdown-Container {
        width: 58%;
    }
}

