.Page {

}

$top_shelf_shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

.Page-Header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 3;
    -webkit-box-shadow: $top_shelf_shadow;
            box-shadow: $top_shelf_shadow;
}

.Page-TopShelf {
    position: fixed;
    width: 100%;
    z-index: 1;
}

$widest_threshold: 1140px;

.Page-Wrapper {
    width: $widest_threshold;
    margin: 0 auto;
    padding: 0 3%;
}

@media screen and (max-width: $widest_threshold) {
    .Page-Wrapper {
        width: 100%;
    }
}

.Page-Main {
    position: relative;
    top: 108px;
    padding-top: 30px;

    .top-shelf & {
        top: 400px;
        z-index: 2;
        background: white;
        -webkit-box-shadow: $top_shelf_shadow;
                box-shadow: $top_shelf_shadow;
    }
}

.Page-Main-Alpha {
    width: 62%;
    float: left;
    padding-right: 2%;
}

.Page-Main-Beta {
    width: 38%;
    float: right;
    padding-left: 2%
}

@media screen and (max-width: 670px) {
    .Page-Main-Alpha {
        width: 100%;
        float: none;
        padding: 0;
    }

    .Page-Main-Beta {
        width: 100%;
        float: none;
        padding: 0;
    }
}

.Page-Main-Half {
    width: 50%;
}

.Page-Main-Half--Left {
    float: left;
    padding-right: 2%;
}

.Page-Main-Half--Right {
    float: right;
    padding-left: 2%
}

@media screen and (max-width: 670px) {
    .Page-Main-Half--Left {
        width: 100%;
        float: none;
        padding: 0;
    }

    .Page-Main-Half--Right {
        width: 100%;
        float: none;
        padding: 0;
    }
}

.Page-Footer {
    /* 400px offset + reasonable padding */
    padding-bottom: 500px;
}