<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="Page {% if page.topshelf %}top-shelf{% else %}no-top-shelf{% endif %}">
        <script>
            document.body.setAttribute('unresolved', 'true');
        </script>
        {% include header.html %}
        <div class="Page-Main">
            <div class="Page-Wrapper cf">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>

    <script>
        setTimeout(function() {
            document.body.setAttribute('resolved', 'true');
        }, 1);
    </script>
    </body>
</html>