<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="Page {% if page.topshelf %}top-shelf{% else %}no-top-shelf{% endif %}">
        <script>
            document.body.setAttribute('unresolved', 'true');
        </script>
        {% include header.html %}
        <div class="Page-Main">
            <div class="Page-Wrapper cf">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>

    <script>
        setTimeout(function() {
            document.body.setAttribute('resolved', 'true');
        }, 1);
        var dropdown = document.getElementsByClassName('js-nav-dropdown')[0];
        var navItems = document.getElementsByClassName('js-nav-item');

        var pathname = window.location.pathname;
        pathname = pathname.substring(0, pathname.length - 1);

        if (pathname == '' || pathname == '/leafelectro.com') {
            pathname = '{{ site.baseurl }}/';
        }
        dropdown.value = pathname;

        for (i = 0, len = navItems.length; i < len; i++) {
            if (navItems[i].firstChild.getAttribute('href') == pathname) {
                navItems[i].className = navItems[i].className + ' is-selected';
            };
        };

        dropdown.onchange = function() {
            window.location = this.value;
        };
    </script>
    </body>
</html>